<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">
	<description>Restful Service Bean的配置文件 </description>
	<bean class="com.server.cx.webservice.rs.server.UserResouceService" />
    <bean class="com.server.cx.webservice.rs.server.CategoryResources" />
    <bean class="com.server.cx.webservice.rs.server.GraphicInfoResources" />
    <bean class="com.server.cx.webservice.rs.server.MyCollectionsResource" />
    <bean class="com.server.cx.webservice.rs.server.UserCommonMGraphicResources" />
    <bean class="com.server.cx.webservice.rs.server.ContactsResource" />
    <bean class="com.server.cx.webservice.rs.server.CXAppResource" />
    <bean class="com.server.cx.webservice.rs.server.SuggestionResource" />
    <bean class="com.server.cx.webservice.rs.server.VersionInfoResource" />
    <bean class="com.server.cx.webservice.rs.server.ShiroExceptionMapper" scope="singleton"/>
</beans>