@CHARSET "UTF-8";

.menu_category_add_but {
	width: 80px;
	margin-left: 30px;
	margin-top: -8px;
}

.menu_category_list_label {
}

.menu_category_add_list {
	width: 80px;
}

.menu_main_operation {
	color: blue;
	cursor: pointer;
	padding-right: 4px;
}

.label_text_value {
	float: left;
}

.label_text_name {
	clear: both;
	float: left;
}

.label_next_line {
	clear: both;
}

